body {
background-color: rgb(0, 0, 0);
margin-top: 60px;
margin-left: 200px;
margin-bottom: 0px;
margin-right: 200px;
font-family: 'Courier New', Courier, monospace ;
}
.logoimagen{

width: 600px;
display: block;
margin: 0 auto;
padding: auto;
}


nav{

background-color: black;
padding: 20px 0px;
text-align: center;
}


.barradenavegacion {

list-style: none;
margin: 0;
padding: 0;
   
}

.navegacion {

    display: inline-block;
    width: 20%;
    padding: 50px 20px 50px 20px; 
}

.navegacion:hover {
background: rgb(195, 103, 223);
}

.navegacion a{
color: rgb(171, 10, 177);
text-decoration: rgb(0, 0, 0);
text-decoration:none;
font-weight: 900;
}
/* section parallax*/
/* un selector simple  de id/clases*/
.parallax{
    /* añadir una imagen de fondo,.. ( son para viajar entre la carpeta principal,ubicacion en general*/
background-image: url(../imagenes/paola-jara.png) ;
/*para especificar el tamaño de la imagen de fondo*/
background-size: contain ;
/* altura minima del area de contenido de un elemento, se utiliza para evitar que la altura de CSS sea menor 
que el valor especificcado*/
min-height: 1500px; 
/*  esta propiedad hace que mi imagen de fondo no aparezca en Mosaico */
background-repeat: no-repeat;
/*posicion de la imagen*/
background-position: center;
/* propiedad que establece si una imagen  de fondo se dezplaza  con el resto de la pagina o si es fija*/
background-attachment: fixed;
/* la propiedasd display flex, ayuda a que los elementos tengan un comportamiento flexible
es decir que sea adaptable y haya un control de diseñi en diferentes dispositivos,diseño flexbox  */
display: flex;
/* es una propiedad de flexbox, que alinea los items del contenedor    */
align-items: center;
justify-content: center;
}

/* selector descendiente: coincide con todos los elementos que son descendientes de 
un elemento especificado */

div.tituloparalax  h2{
font-size: 1cm;
color: rgb(0, 0, 0);
/* da una negrilla al texto-700grosor */
font-weight: 800;
text-align: center;
}

.parrafoparalax{
display: flex;
justify-content: center;
/* box-model  */
border: 2px solid black;
/*  border-width: 2px
border-style:solid
boder-color: black   */
}

/* selector de Pseudoclase */
span.parrafoparalax:hover{
background-color: rgb(103, 16, 143);
/* transparencia */
opacity: 0.7;
}
span.parrafoparalax a {

    color: black;
    font-weight: 400;
    padding: 10px 30px;
    margin: 0;
    text-decoration: none;
font-size: 30px;
}
.information{

    display: inline-flex;

}
.information p{

color: white;
/* coloca el maximo de ancho a un elemento y impide que el valor de width sea mas largo que el valor 
especificado en max-width */
max-width: 50%;
margin: 0;
/* propiedad flexible- alinea al centro- la alineacion  de un elemnto dentro del contenedor */
align-self: center;
padding:50px ;
/* establece la altura entre lineas de parrafo  */ 
line-height: 15px;
}


span.titulopaola {
    color: purple;
display: inline-flex;
font-size: 60 px;
font-weight: 800;
font-family: Arial, Helvetica, sans-serif; 
}
span.titulopaola2{
    color: purple;
    display: inline-flex;
    font-size: 16px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif; 

}

div.information img{

max-width: 50%;
height: auto;
padding: 0px 50px;
}

section.contentmusic{
letter-spacing: 5px;
line-height: 2px;
font-family: Georgia, 'Times New Roman', Times, serif;
}
section.contentmusic  h2{
color: white;
font-weight: 900;
text-align: center;
margin: 150px 0px;
font-size: 60px;
font-family: 'Times New Roman', Times, serif;
}

div.container{
width: 100%;
height: 500px;
display: flex;
justify-content: center;
margin: auto;

}
div.container div.card {
width: 400px;
height: 500px;
text-align: center;
}
div.container .card img{
    width: 350px;
    height: 350px;
    border-radius:8px 8px 0px 0px;
    -webkit-border-radius:8px 8px 0px 0px;
    -moz-border-radius:8px 8px 0px 0px;
    -ms-border-radius:8px 8px  0px  0px;
    -o-border-radius:8px 8px 0px 0px;
    -webkit-border-radius:8px 8px 0px 0px;
    -o-border-radius:8px 8px 0px 0px;
}

div.container.card h4{
font-weight: 600;
color: white;
}
div.container .card p{
font-size: 16px;
font-weight: 300;
color: white;
}
div.container .card a{
text-decoration: none;
color: purple;
font-weight: 500;
}
div:hover{
width:300px;}
div.containervideos div.inframe{
    width: 100%;
    height: 300px;
    text-align: center;
    display: inline-block;
    justify-content: left;
    margin-bottom: 20px; }
  div.video{
    padding: 50px 40px 50px 40px;}
  
   div.footer img{
    width: 50px;
    height: 25px;
    margin: auto;
background-position: center; }

    div.containervideos h2{
        color: white;
        font-weight: 900;
        text-align: center;
        margin: 100px 0px;
        font-size: 60px;
        font-family: 'Times New Roman', Times, serif;}

 div.footer p{
    color: white;
    font-weight: 300;
    text-align: center;
    margin: 50px 0px;
    font-size: 20px;


 }